{% extends 'base/base.html' %}
{% block title %}Category List{% endblock %}
{% block content %}
<div class="container">
  <h1>Category List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Delete</th>  <!-- Add a new column for delete buttons -->
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category.cat_name }}</td>
        <td>
          <!-- Button trigger modal for delete confirmation -->
          <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{ category.id }}">
            <i class="fa-solid fa-trash-can fa-sm"></i>
          </a>

          <!-- Modal for Delete Confirmation -->
          <div class="modal fade" id="deleteCategoryModal{{ category.id }}" tabindex="-1" aria-labelledby="deleteCategoryModalLabel{{ category.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteCategoryModalLabel{{ category.id }}">Confirm Deletion</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete '{{ category.cat_name }}'?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form action="{% url 'delete_category' category.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
