{% extends 'base/base.html' %}
{% block title %}
  Purchase List
{% endblock %}
{% block content %}

  <h1>Purchase List</h1>

  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th scope="col">Purchase ID</th>
        <th scope="col">Order</th>
        <th scope="col">Supplier</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Purchase Date</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in purchases %}
          <tr>
          <th scope="row">{{ purchase.id }}</th>
          <td>{{ purchase.order.id }}</td>
          <td>{{ purchase.supplier.spl_name }}</td>
          <td>{{ purchase.product.prod_name }}</td>
          <td>{{ purchase.ord_qty }}</td>
          <td>{{ purchase.p_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
